@import "tailwindcss";
@config "../../tailwind.config.js";

[x-cloak] {
  display: none !important;
}

.btn-loading > .btn-spinner {
  opacity: 0;
  pointer-events: none;
}
.btn-loading > .btn-label {
  visibility: visible;
}

.btn-loading.htmx-request > .btn-label {
  visibility: hidden;
}
.btn-loading.htmx-request > .btn-spinner {
  opacity: 1;
}

.htmx-request .btn-loading > .btn-label {
  visibility: hidden;
}
.htmx-request .btn-loading > .btn-spinner {
  opacity: 1;
}

.modal-backdrop-blur {
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.4);
}
