@import "tailwindcss";

@source "../../../internal/http/templates/**/*.templ";
@source "../../src/**/*.ts";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-xs: 480px;

  --color-background-light: #f6f7f8;
  --color-background-dark: #111821;

  --color-grey-50: #f9fafb;
  --color-grey-100: #f3f4f6;
  --color-grey-200: #e5e7eb;
  --color-grey-300: #d1d5db;
  --color-grey-400: #9ca3af;
  --color-grey-500: #6b7280;
  --color-grey-600: #4b5563;
  --color-grey-700: #374151;
  --color-grey-800: #1f2937;
  --color-grey-900: #111827;
  --color-grey-950: #030712;
}

[x-cloak] {
  display: none !important;
}

.btn-loading > .btn-spinner {
  opacity: 0;
  pointer-events: none;
}
.btn-loading > .btn-label {
  visibility: visible;
}

.btn-loading.htmx-request > .btn-label {
  visibility: hidden;
}
.btn-loading.htmx-request > .btn-spinner {
  opacity: 1;
}

.htmx-request .btn-loading > .btn-label {
  visibility: hidden;
}
.htmx-request .btn-loading > .btn-spinner {
  opacity: 1;
}

.modal-backdrop-blur {
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.4);
}

.is-redirecting .redirect-overlay {
  display: flex;
}
