**

!Dockerfile
!go.mod
!go.sum
!cmd/
!cmd/**
!handlers/
!handlers/**

.env*
**/.env*
**/node_modules/
**/bin/
coverage*
**/coverage*
*.out
**/*.out
**/*.test
**/*.exe
**/*.tmp
**/*.log
**/.DS_Store
**/Thumbs.db
**/.idea/
**/.vscode/
**/*.swp
**/*.swo
