**

!Dockerfile
!package.json
!package-lock.json
!index.html
!nginx.conf
!vite.config.js
!src/
!src/**

.env*
**/.env*
**/node_modules/
**/dist/
**/bin/
coverage*
**/coverage*
**/.cache/
**/*.tmp
**/*.log
**/.DS_Store
**/Thumbs.db
**/.idea/
**/.vscode/
**/*.swp
**/*.swo
