package csrf

import "github.com/alexlup06-authgate/authgate/internal/http/kit/httpctx"

templ CSRFInput() {
	if tok, ok := httpctx.CSRFToken(ctx); ok {
		<input type="hidden" name="csrf_token" value={ tok }/>
	}
}
